body{font-family: 'Poppins', sans-serif;
margin: 50px;}
h1 {color: crimson;
font-size: 50px;}
.color-1{color: blueviolet;}

.half-width{width:50% ;
padding: 2%;}
.half-width img{width: 80%;}

.flexible-container{display: flex;}

.linkfood{text-decoration:none ;
color:white;
background-color: rgb(226, 55, 69);
padding: 10px 40px;
border-radius: 10%;
box-shadow:10px 15px 20px rgb(226, 55, 69) ;}

.daiet-food{background-image: url(Frame\ 59.jpg);}


.half-width img{width:80% ;}

.half-width{width:65% ;
            padding: 2%;
        margin-top: 25px;}
        .color-b{color: black;
        font-size: 70px;}
        

    .flexible-container{display: flex;}
        
    .link-contact{text-decoration: none ;
        padding: 10px 40px;
    background-color:goldenrod;
border-radius: 10px;
padding: 10px 40px;
box-shadow:10px 15px 30px crimson ;}

h2{text-align: center;font-size:30px ;}
.text{text-align: center;}

.half-width{width:50%;}

.flexible-container{background-image: url(Frame\ 58.jpg);background-repeat: no-repeat;
background-position: right;}

#Meet{width:50% ;
margin-left:5% ;
margin-right: 5%;
padding-left:5% ;
padding-right: 5%;
box-shadow:10px 15px 40px;
border-left: 10px solid crimson;}

#fish{width: 50%;margin-left:5% ;
    margin-right: 5%;
    padding-left: 5% ;
    padding-right: 5%;
    box-shadow:10px 15px 40px;
border-left:10px solid rgb(107, 65, 10) ;}

#Followers{width:90%;
margin:2% ;
padding:10px 40px ;
background-image: url(Frame\ 57.jpg);}

#A{width:40% ;
margin-left: 5%;
margin-right: 5%;
padding-left: 5%;
padding: 5%;
box-shadow:5px 10px 15px chartreuse ;}

#B{width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding: 5%;
    box-shadow:5px 10px 15px crimson ;}

#C{width:40% ;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding: 5%;
    box-shadow:5px 10px 15px chartreuse ;}

    footer h3{text-align:center ;color: crimson;}
    footer p{text-align: center;color: orangered;}
